<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Halo_3_Camera_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Halo_3_Camera_Tool.Properties.Settings>
      <setting name="ThirdPersonKey" serializeAs="String">
        <value />
      </setting>
      <setting name="FreecamKey" serializeAs="String">
        <value>F1</value>
      </setting>
      <setting name="FreezePlayerKey" serializeAs="String">
        <value>F2</value>
      </setting>
      <setting name="FreezeCameraKey" serializeAs="String">
        <value>F3</value>
      </setting>
      <setting name="PauseGameKey" serializeAs="String">
        <value>F4</value>
      </setting>
      <setting name="CoordinatesKey" serializeAs="String">
        <value />
      </setting>
      <setting name="DisableBarriersKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AcrophobiaKey" serializeAs="String">
        <value />
      </setting>
      <setting name="BandanaKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ThirtyTickKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LowerWeaponKey" serializeAs="String">
        <value>Down</value>
      </setting>
      <setting name="DisableTeamColoursKey" serializeAs="String">
        <value />
      </setting>
    </Halo_3_Camera_Tool.Properties.Settings>
  </userSettings>
</configuration>